{% extends 'index.htm' %} 
{% load static %}
{% block titulo %} Listar Libro {% endblock titulo %} 

{% block contenido %}
<div class="container-fluid">
    <ul class="breadcrumb breadcrumb-tabs">
        <li>
            <a href="{% url 'libreriaApp:crear_libro' %}" class="btn btn-info">
                <i class="zmdi zmdi-plus"></i> &nbsp; NUEVO LIBRO 
            </a>
        </li>
    </ul>
</div>

<!-- Panel listado de clientes -->
<div class="container-fluid">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="zmdi zmdi-format-list-bulleted"></i> &nbsp; LISTA DE LIBROS </h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover text-center">

                    {% if libro %}

                    <thead>
                        <tr>
                            <th class="text-center">ISBN</th>
                            <th class="text-center">Titulo</th>
                            <th class="text-center">Fecha de publicacion</th>
                            <th class="text-center">Categoria</th>
                            <th class="text-center">Precio</th>
                            <th class="text-center">Portada</th>
                            <th class="text-center">Acciones</th>
                           

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for libro in libro %}
                            <td>{{ libro.isbn }}</td>
                            <td>{{ libro.titulo }}</td>
                            <td>{{ libro.fecha_pub }}</td>
                            <td>{{ libro.id_categorias }}</td>
                            <td>{{ libro.precio }}</td>
                            <td>{{ libro.portada }}</td>
                            
                            
                            <td>
                                
                                <button class="btn btn-danger" type="button" onclick="abrirModalEliminacion('')">
                                    <i class="fas fa-user-plus"></i>
                                </button>
          
                                <button class="btn btn-primary" type="button" onclick="abrirModalEdicion('')">
                                    <i class="fas fa-user-plus"></i>
                                </button>
                            </td>


                        </tr>


                        {% endfor %}

                    </tbody>
                    {% else %}
                    <h1>No hay registros</h1>
                    {% endif%} </table>
            </div>

        </div>
    </div>
</div>

<!-- Modales -->
<div class="modal fade" id="eliminacion" role="dialog"> 

</div>

<div class="modal fade" id="edicion" role="dialog"> 

{% block extrajs %}
  <script src= "{% static 'js/modales/modals.js' %}"></script>
{% endblock extrajs %}
</div>


{% endblock contenido %}