{% extends 'index.htm' %}
{% block titulo %}Crear Autor{% endblock titulo %}

{% block contenido %}

 <div class="container-fluid">
        <div class="page-header">
          <h1 class="text-titles"><i class="zmdi zmdi-male-alt zmdi-hc-fw"></i> Clientes </h1>
        </div>
    </div>



    <!-- Panel nuevo cliente -->
    <div class="container-fluid">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="zmdi zmdi-plus"></i> &nbsp; Nuevo Cliente</h3>
            </div>
            <div class="panel-body">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <legend><i class="zmdi zmdi-account-box"></i> &nbsp; Información </legend>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                    
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                          <label class="control-label">identificacion</label>
                                          <input pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,30}"  class="form-control" type="number" name="identificacion" required="" maxlength="30">
                                    </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                          <label class="control-label">Nombres</label>
                                          <input pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,30}"  class="form-control" type="text" name="nombres" required="" maxlength="30">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                          <label class="control-label">Apellidos </label>
                                             <input pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,30}"  class="form-control" type="text" name="apellidos" required="" maxlength="30">

                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                          <label class="control-label">Telefono</label>
                                             <input pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,30}"  class="form-control" type="number" name="telefono" required="" maxlength="30">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                          <label class="control-label">Direccion </label>
                                             <input pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,30}"  class="form-control" type="text" name="direccion" required="" maxlength="30">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                          <label class="control-label">Correo_Electronico </label>
                                             <input pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,30}"  class="form-control" type="text" name="correo_electronico" required="" maxlength="30">
                                    </div>
                                </div>
                                
                                
                            
                                
                            </div>
                        </div>
                    </fieldset>
                    <br>
                    
                    <p class="text-center" style="margin-top: 20px;">
                        <button type="submit" class="btn btn-info btn-raised btn-sm"><i class="zmdi zmdi-floppy"></i> Guardar</button>
                    </p>
                </form>
            </div>
        </div>
    </div>

{% endblock contenido %}