{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <title>Libreria {% block titulo %}inicio{% endblock titulo %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/main.css'%}">

</head>

<body>
    <!-- SideBar -->
    <section class="full-box cover dashboard-sideBar">
        <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
        <div class="full-box dashboard-sideBar-ct">
            <!--SideBar Title -->
            <div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
                LibreriaApp <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
            </div>
            <!-- SideBar User info -->
            <div class="full-box dashboard-sideBar-UserInfo">
                <figure class="full-box">
                    <img src="{% static '/assets/avatars/AdminMaleAvatar.png'%}" alt="UserIcon">
                    <br>
                    <figcaption class="text-center text-titles">{{ user.nombre }} {{ user.apellido }}</figcaption>
                    <br>
                    <center><i  class="fas fa-shopping-cart fa-2x"></i><sup style="font-size: 20px; color: #4caf50;"><b> {{ pedidos.count }} </b></sup></center>
                </figure>
                
            </div>
            <!-- SideBar Menu -->
            <ul class="list-unstyled full-box dashboard-sideBar-Menu">
                <li>
                    <a href="{% url 'index' %}">
                        <i class="fas fa-home"></i> Inicio
                    </a>
                </li>
                <li>
                    <a href="#!" class="btn-sideBar-SubMenu">
                        <i class="zmdi zmdi-case zmdi-hc-fw"></i> Administración <i class="zmdi zmdi-caret-down pull-right"></i>
                    </a>
                    <ul class="list-unstyled full-box">
                        <li>
                            <a href="{% url 'libreriaApp:listar_autores' %}"><i class="fas fa-users"></i> Autores</a>
                        </li>
                        <li>
                            <a href="{% url 'libreriaApp:listar_categorias' %} "><i class="fas fa-align-justify"></i> Categorías</a>
                        </li>
                        <li>
                            <a href=""><i class="fas fa-user"></i> Cliente </a>
                        </li>
                        
                        <li>
                            <a href="{% url 'libreriaApp:listar_libro' %}"><i class="fas fa-book"></i>  Libro</a>
                        </li>
                        <li>
                            <a href="{% url 'libreriaApp:listar_pedido_cliente' %}"><i class="fas fa-mug-hot"></i> Pedidos Cliente</a>
                        </li>
                    </ul>
                </li>
               
                
            </ul>
        </div>
    </section>

    <!-- Content page-->
    <section class="full-box dashboard-contentPage ">
        <!-- NavBar -->
        <nav class="full-box dashboard-Navbar ">
            <ul class="full-box list-unstyled text-right ">
                <li class="pull-left ">
                    <a href="#! " class="btn-menu-dashboard "><i class="zmdi zmdi-more-vert "></i></a>
                </li>
            <form method="POST">
                {% csrf_token %}
                <li>
                    <a href="{% url 'logout' %}"><i class=""></i> Cerrar</a>
				
                </li>
            </form>
            </ul>
            
        </nav>

        <!-- contenido  -->


        {% block contenido %}

        <div class="container-fluid ">
            <div class="page-header ">
                <h1 class="text-titles ">Bienvenidos <small>Libreria</small></h1>
            </div>
        </div>

        {% endblock contenido %}


        <!--====== Scripts -->
        <script src="{% static '/js/jquery-3.1.1.min.js' %} "></script>
        <script src="{% static '/js/sweetalert2.min.js' %} "></script>
        <script src="{% static '/js/bootstrap.min.js' %} "></script>
        <script src="{% static '/js/material.min.js' %} "></script>
        <script src="{% static '/js/ripples.min.js' %} "></script>
        <script src="{% static '/js/jquery.mCustomScrollbar.concat.min.js' %} "></script>
        <script src="{% static '/js/main.js' %} "></script>
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
        data-search-pseudo-elements></script>
        {% block extrajs %}
            <script src="{% static 'js/modals/modals.js' %}"></script>
        {% endblock extrajs %}

        <script>
        
            $.material.init();
        </script>
</body>

</html>