{% extends 'index.htm' %}
{% block titulo %}Crear Pedidos Clientes{% endblock titulo %}

{% block contenido %}

    
    <!-- Content page -->
    <div class="container-fluid">
        <div class="page-header">
          <h1 class="text-titles"><i class="zmdi zmdi-male-alt zmdi-hc-fw"></i> Pedido Cliente </h1>
        </div>
    </div>



    <!-- Panel nuevo cliente -->
    <div class="container-fluid">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="zmdi zmdi-plus"></i> &nbsp; Nuevo Pedido Cliente</h3>
            </div>
            <div class="panel-body">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <legend><i class="zmdi zmdi-account-box"></i> &nbsp; Información </legend>
                        <div class="container-fluid">
                        {% if form.errors %}
                            {{ form.errors }}
                        {% endif %}
                            <div class="row">
                                <div class="col-xs-12">
                                    
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                          <label class="control-label">Nro_Pedido</label>
                                          <input pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,30}"  class="form-control" type="number" name="nro_pedido" required="" maxlength="30">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                          <label class="control-label">id_cliente</label>
                                            {{ form.id_cliente }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                          <label class="control-label">isbn</label>
                                            {{ form.isbn }}

                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                          <label class="control-label">fecha_pedido</label>
                                            <input pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,30}"  class="form-control" type="date" name="fecha_pedido" required="" maxlength="30">

                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                          <label class="control-label">cantidad</label>
                                            <input pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,30}"  class="form-control" type="number" name="cantidad" required="" maxlength="30">

                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                          <label class="control-label">valor</label>
                                            <input pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,30}"  class="form-control" type="number" name="valor" required="" maxlength="30">

                                    </div>
                                </div>
                                
                                
                            
                                
                            </div>
                        </div>
                    </fieldset>
                    <br>
                    
                    <p class="text-center" style="margin-top: 20px;">
                        <button type="submit" class="btn btn-info btn-raised btn-sm"><i class="zmdi zmdi-floppy"></i> Guardar</button>
                    </p>
                </form>
            </div>
        </div>
    </div>


{% endblock contenido %}